<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta property="og:site_name" content="Onee Chan">
<meta property="og:type" content="website">
<meta property="og:image" content="https://onee.ch/.static/logo.png">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/thread.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/board.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/boardContent.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/settingsMenu.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome"> Home</a> <span>/</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList"> Boards</a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard"> Overboard</a> <span>/</span> <a
        href="/.static/pages/posting.html"
        class="coloredIcon"
        id="navPosting"> Help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> <span>[</span>
      <a
        class="coloredIcon"
        id="linkLogs"></a> <span>/</span> <a
        href="#"
        class="coloredIcon"
        id="linkTop"></a> <span>/</span> <a
        href="#footer"
        class="coloredIcon"
        id="linkBottom"></a> <span>/</span> <a
        href="catalog.html"
        class="coloredIcon"
        id="navCatalog"></a> <span>/</span> <a
        href="index.rss"
        class="coloredIcon"
        id="linkRss"></a> <span>]</span>
    </span>
  </nav>

  <header class="boardHeader">
    <img id="bannerImage" />
    <div>
      <p id="labelName"></p>
    </div>
    <p id="labelDescription"></p>
  </header>

  <div id="postingForm">

    <fieldset id="newPostFieldset">
      <legend>Mode: Thread</legend>

      <form
        action="/newThread.js"
        enctype="multipart/form-data"
        method="post">

        <table id="postingTable">
        </table>

        <p class="small">
          Remember to follow the
          <a
            href="rules.html"
            class="rules">rules</a>
        </p>

        <button
          type="submit"
          id="formButton">Post</button>

      </form>

    </fieldset>

  </div>

  <div id="panelMessage">
    <hr>
    <div id="divMessage"></div>
  </div>

  <div id="boardNavigation">
      <hr>
      <span>
        [<a href="catalog.html">Catalog</a>]
      </span>
      <span>
        [<a id="linkArchive" href="#">Archive</a>]
      </span>
      <span>
        [<a href="#footer">Bottom</a>]
      </span>
      <hr>
  </div>
  
  <div id="threadList">
    <form
      action="/contentActions.js"
      method="post"
      enctype="multipart/form-data">

      <div id="divThreads"></div>

      <hr class="clearer" />

      <div class="threadPages">

        <span class="divPages">[ <a id="linkPrevious"></a> <span
          id="divPages"></span> <a id="linkNext"></a> ]
        </span>

        <div id="boardContentLinks">
          <span>[</span>
          <a id="linkManagement">Manage Board</a>
          <span>/</span>
          <a id="linkModeration">Moderate Board</a>
          <span>/</span>
          <a id="linkMod">Moderate Threads</a>
          <span>]</span>
        </div>

      </div>

      <div id="actionsForm"></div>

    </form>

  </div>
    <footer id="footer">Any post made by a user is the responsibility of that user.</a>
      <div id="footer-links">
        <a href="https://onee.ch/.static/pages/about.html" target="_blank">About</a>
          •  
        <a href="https://onee.ch/.static/pages/contact.html" target="_blank">Contact</a>
          •  
        <a href="https://onee.ch/logs.js" target="_blank">Global Logs</a>
          •  
        <a href="https://onee.ch/archives.js" target="_blank">Archive</a>
      </div>
    </footer>
</body>

<script src="/.static/js/crypto.js"></script>
<script src="/.static/js/api.js"></script>
<script src="/.static/js/postCommon.js"></script>
<script src="/.static/js/captchaModal.js"></script>
<script src="/.static/js/thumbs.js"></script>
<script src="/.static/js/tooltips.js"></script>
<script src="/.static/js/posting.js"></script>
<script src="/.static/js/board.js"></script>
<script src="/.static/js/captchaUtils.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/hiding.js"></script>
<script src="/.static/js/mediaHiding.js"></script>
<script src="/.static/js/embed.js"></script>
<script src="/.static/js/postingMenu.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/bottomForms.js"></script>
<script>
  var link = document.createElement('meta');
  link.setAttribute('property', 'og:title');
  link.content = document.getElementById("labelName").innerHTML;
  document.getElementsByTagName('head')[0].appendChild(link);
</script>
<script>
  var link = document.createElement('meta');
  link.setAttribute('property', 'og:description');
  link.content = document.getElementById("labelDescription").innerHTML;
  document.getElementsByTagName('head')[0].appendChild(link);
</script>
<script>
  var link = document.createElement('meta');
  link.setAttribute('property', 'og:url');
  link.content = window.location.href;
  document.getElementsByTagName('head')[0].appendChild(link);
</script>
</html>
