<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta property="og:title" content="Onee Chan">
<meta property="og:site_name" content="Onee Chan">
<meta property="og:url" content="https://onee.ch">
<meta property="og:description" content="A comfy imageboard that you can call home.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://onee.ch/.static/logo.png">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/index.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList"> Boards</a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard"> Overboard</a> <span>/</span> <a
        href="/.static/pages/posting.html"
        class="coloredIcon"
        id="navPosting"> Help</a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <div id="indexWrapper">

    <div
      id="logoBox"
      class="title">
      <img
        src="/.static/logo.png"
        class="logoImg"
        alt="logo" />
    </div>

    <div
      id="infoBox"
      class="title">
      <p>Onee Chan</p>
    </div>
<!-- I guess the ACA/ACF/Tranny federation is now dead... it was fun. The state of the internet right now is truly shit. 
    <div
      id="federationBox"
      class="federation">
      Onee Chan is a part of the Alternate Chan Alliance <br>
      Learn more about it <u><a href=".static/pages/alliance.html">here</a></u>
    </div> -->
	<!-- No one uses the IRC anyways :P
    <div
      id="ircBox"
      class="irc">
      Onee Chan IRC <br>
      #oneech on Rizon <br>
	  <u><a href="https://www.rizon.net/info/access">how to connect</a></u>
    </div> -->
    <div class="frensBox">
      <h2 class=frensHeader>Frens</h2>
      <div id="frensBoxInner">
        <a href="https://www.4kev.org/index.php" target="_blank">
          <img class="frensImage" alt="4kev" src=".static/images/4kev.jpg" width="150" height="50">
       </a>
        <a href="https://iji.cx/" target="_blank">
          <img class="frensImage" alt="iji.cx" src=".static/images/iji.gif" width="150" height="50">
       </a>
       <a href="http://ronery.xyz/" target="_blank">
        <img class="frensImage" alt="ronery" src=".static/images/ronery.jpg" width="150" height="50">
     </a>
      </div>
    </div>

    <div
      id="divBoards"
      class="topBoards title"></div>

    <div id="divLatestImages"></div>

    <div id="divLatestPosts"></div>

    <div
      id="links"
      class="title">
      <span>[</span>
      <a
        href="/logs.js"
        class="coloredIcon"
        id="linkGlobalLogs">Logs</a>
      <span>/</span>
      <a
        href="/archives.js"
        class="coloredIcon"
        id="linkArchives">Archives</a>
      <span>/</span>
      <a
        href="/graphs.js"
        class="coloredIcon"
        id="linkGraphs">Graphs</a>
      <span>/</span>
      <a
        href="/.static/pages/globalRules.html"
        class="coloredIcon"
        id="linkGlobalRules">Global Rules</a>
      <span>/</span>
      <a
        href="/.static/pages/links.html"
        class="coloredIcon"
        id="linkLinks">Links</a>
      <span>/</span>
      <a
        href="/.static/pages/about.html"
        class="coloredIcon"
        id="linkAbout">About</a>
      <span>/</span>
      <a
        href="/.static/pages/contact.html"
        class="coloredIcon"
        id="linkContact">Contact</a>
      <span>/</span>
      <a
        href="/account.js"
        class="coloredIcon"
        id="linkAccount">Account</a>
      <span>]</span>
    </div>

    <div id="divStats">
      <span>[</span> <span>Total posts: <span id="labelTotalPosts"></span></span>
      <span>/</span> <span>Posts in last hour: <span id="labelTotalPPH"></span></span>
      <span>/</span> <span>Unique recent IPs: <span id="labelTotalIps"></span></span>
      <span>/</span> <span>Total boards: <span id="labelTotalBoards"></span></span>
      <span>/</span> <span>Media files stored: <span id="labelTotalFiles"></span></span>
      <span>/</span> <span>Total media size: <span id="labelTotalSize"></span></span>
      <span>]</span>
    </div>

  </div>

  <footer>
    <span>Copyright Oneechan 2021. <br>
    <a href="https://www.law.cornell.edu/uscode/text/47/230#" target=_blank>Any post made by a user is the sole responsibility of the user, not Oneechan.</a><br>
  <a href="https://gitgud.io/LynxChan/LynxChan" target=_blank>LynxChan 2.4.X</a></span> 
    
  </footer>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
