.labelYou {
    color: #117743;
    font-style: italic;
    margin-right: 0.125rem;
  }
  
  .quoteLink.you:after {
    content: "(You) ";
    font-size: 75%;
    color: #ce6982;
    text-decoration: none;
  }


div#federationBox {
    background-color: #222;
    text-align: center;
    border: 1px solid #ce6982;
    background-size: auto;
    vertical-align: middle;
    width: 500px;
    margin: auto;
    font-size:90%;
}
@media only screen and (max-width: 812px) {
  div#federationBox {
    background-color: #222;
    text-align: center;
    border: 1px solid #ce6982;
    background-size: auto;
    vertical-align: middle;
    width: 300px;
    margin: auto;
    font-size:80%;
  }
}
div#ircBox {
    background-color: #222;
    text-align: center;
    border: 1px solid #ce6982;
    background-size: auto;
    vertical-align: middle;
    width: 500px;
    margin: auto;
    font-size:90%;
}
@media only screen and (max-width: 812px) {
  div#ircBox {
    background-color: #222;
    text-align: center;
    border: 1px solid #ce6982;
    background-size: auto;
    vertical-align: middle;
    width: 300px;
    margin: auto;
    font-size:80%;
  }
}

body{
    background-image: url(/.static/lain.gif), url(/.static/meguca1.gif);
    background-size: 419px 325px, 100px 100px;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
      color: #eee;
      font-family: 'Hack', monospace, sans-serif;
      font-size: 90%;
  }
  textarea {
      color: inherit;
      font-size: inherit;
      border: 0;
      padding: 2;
      background-color: transparent;
      outline: 0;
  }
  #newPostFieldset, #quick-reply table, .modalDecorationPanel, .floatingMenu, #settingsFieldset, .reportFieldset {
      border: 1px dashed #771111;
  }
  .labelSubject {
      color: #b388ff;
      font-weight: bold;
  }
  .labelSubject::before { 
    content: "「";
  }
  .labelSubject::after { 
    content: "」";
  }
  .panelBacklinks a {
      padding-left: 0.5em;
      color: #d2738a;
      text-decoration: none;
  }
  .panelBacklinks:hover a {
      padding-left: 0.5em;
      color: #513fd3;
      text-decoration: none;
  }
  .quoteLink {
      color: #d2738a;
  }
  .quoteLink:hover {
      color: #513fd3;
  }
  .linkName {
      font-weight: bold;
      color: #d2738a;
  }
  .linkName:hover {
      font-weight: bold;
      color: #513fd3;
  }
  .linkQuote {
      color: #555;
      text-decoration: none;
  }
  .linkQuote:hover {
      color: #d2738a;
      text-decoration: none;
  }
  .linkSelf {
      color: #555;
      text-decoration: none;
  }
  #showFormsButton {
  color: #d2738a;
  }
  #showFormsButton:hover {
  color: #513fd3;
  }
  nav {
  background: #222222b3;
  border-bottom: 1px solid #111;
  }
  .coloredIcon {
  color: #d2738a;
  }
  .coloredIcon:hover {
  color: #513fd3;
  }
  .catalogCell {
  background: #222222;
  border: 1px solid #222;
  border-radius: 0px;
  }
  .relativeTime {
  color: #555;
  }
  input[type=button], input[type=submit], button, .dropzone, .selectedCell
  {
  border: 3px double #111;
  background: #222;
  border-radius: 0px;
  }
  #postingForm th {
  border: 1px solid #333;
  background: #222;
  border-radius: 0px;
  }
  .innerPost, .markedPost {
  background: #222;
  border: 1px solid #111;
  border-radius: 0px;
  }
  .markedPost, .sideCatalogMarkedCell {
      background: #333;
  }
  #newPostFieldset, #quick-reply table, .modalDecorationPanel {
  border: 1px dashed #ce6982;
  }
  hr {
  border-color: #ce6982;
  }
  .reportFieldset {
  border: 1px dashed #ce6982;
  }
  .noEmailName, .noEmailName:hover {
  color: #98E;
  }
  a {
  color: #ce6982;
  }
  .sideCatalogCell, .sideCatalogMarkedCell {
  background: #222;
  border: 1px solid #333333;
  border-radius: 0px;
  }
  #divLatestPosts .latestPostCell {
  background: #222;
  border: 1px solid #ce6982;
  border-radius: 0px;
  }
  span.spoiler {
    background: eee;
    color: eee;
    padding: 0 1px;
  }
  .redText {
    /*  background-image: repeating-linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red, violet); */
      background-image: repeating-linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
  /*  background-image: repeating-linear-gradient(90deg, #E40303, #FF8C00, #FFED00, #008026, #004DFF, #750787, #E40303); */
      background-size: 50% 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: rainbow 1s linear infinite;
      font-size: 1.5em;
      text-transform: uppercase;
  }
   
  @keyframes rainbow {
      0%{background-position:0% 50%}
      100%{background-position:100% 50%}
  }
   
  @-webkit-keyframes rainbow {
      0%{background-position:0% 50%}
      100%{background-position:100% 50%}
  }
   
  @-moz-keyframes rainbow {
      0%{background-position:0% 50%}
      100%{background-position:100% 50%}
  }
   
  @-ms-keyframes rainbow {
      0%{background-position:0% 50%}
      100%{background-position:100% 50%}    
  }
  .floatingMenu {
    border: 1px dashed #222;
    background: #1c1c1c;
    padding: 0.25em;
  }
  .floatingMenu, #quick-reply table {
      background: #1c1c1c;
      border: 1px dashed #222;
  }
  input[type=checkbox].postingCheckbox+label:before {
      color: #ce6982;
  }
  a.rules:after {
  color: #ce6982;
  }
      header {
           /*  background-image: repeating-linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red, violet); */
      background-image: repeating-linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet, red);
  /*  background-image: repeating-linear-gradient(90deg, #E40303, #FF8C00, #FFED00, #008026, #004DFF, #750787, #E40303); */
      background-size: 50% 100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: #ce6982;
      animation: rainbow 1s linear infinite;
      font-size: 75%;
      text-transform: uppercase;
  }
   
  @keyframes rainbow {
      0%{background-position:0% 50%}
      100%{background-position:100% 50%}
  }
   
  @-webkit-keyframes rainbow {
      0%{background-position:0% 50%}
      100%{background-position:100% 50%}
  }
   
  @-moz-keyframes rainbow {
      0%{background-position:0% 50%}
      100%{background-position:100% 50%}
  }
   
  @-ms-keyframes rainbow {
      0%{background-position:0% 50%}
      100%{background-position:100% 50%}    
      }
  .noEmailName, .noEmailName:hover {
  color: #ce6982;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 7px;
  }
   
  /* Track */
  ::-webkit-scrollbar-track {
    background: #222;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #240000;
  }
   
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d2738a;
  }
  input, select, textarea {;
      border: 1px double #111;
      border-radius: 1px;
      background: #222;
      color: #eee;
      font-family: 'Hack', monospace, sans-serif;
      font-size: 90%;
  }
  #settingsMenu textarea:focus,
  #postingTable textarea:focus,
  #postingTable #fieldName:focus,
  #postingTable #fieldSubject:focus,
  #postingTable #fieldEmail.postingInput,
  #postingTable #fieldPostingPassword.postingInput {
  box-shadow: none;
  }
  
  /* Removes the blue that remains after removing green */
  #postingForm input:focus, #postingForm textarea:focus,
  .modalDecorationPanel input[type='text']:focus, #settingsMenu input[type='text']:focus,
  #settingsMenu textarea:focus,
  .contentAction #deletionFieldPassword,
  .contentAction #reportFieldReason,
  .contentAction #fieldCaptchaReport,
  #themeSelector:focus,
  button:focus {
  outline: none;
  }